@using PresentAte.ViewModels.PresentationViewModels;
@model List<PresentationViewModel>

@{
    ViewData["Title"] = "AI-Generated Presentations";
}

<h2 class="text-center my-5">AI-Generated Presentations</h2>

<input type="text" id="searchBar" placeholder="  Search presentations..." onkeyup="filterPresentations()">

<div class="container mrg-btm">
    <div class="row">
        @if (!Model.Any())
        {
            <p class="text-center text-dark">No presentations available yet.</p>
        }
        else
        {
            @* @foreach (var presentation in Model)
        {
        <div class="col-md-4">
        <div class="card my-3 shadow-sm mrg-btm">
        <div class="card-body text-center">
        <h5 class="card-title">@presentation.Topic</h5>
        <a href="@Url.Action("DownloadPresentation", new { id = presentation.Id })" class="btn btn-primary" download>Download</a>
        </div>
        </div>
        </div>
        } *@

            @foreach (var presentation in Model)
            {
                <div class="col-md-4">
                    <div class="card my-3 shadow-sm mrg-btm" data-title="@presentation.Topic">
                        <div class="card-body text-center">
                            <h3>@presentation.Topic</h3>
                            <p>Generated at: @presentation.CreatedAt.ToString("yyyy-MM-dd HH:mm")</p>
                            <button class="btn btn-primary" onclick="downloadPresentation(@presentation.Id)">Download</button>
                            <button class="btn btn-primary" onclick="deletePresentation(@presentation.Id)">Remove</button>
                        </div>
                    </div>
                </div>
            }

        }
    </div>
    <div class="text-center mb-3" id="btn-gen-new">
        <a href="@Url.Action("Generate", "Presentation")" class="btn btn-primary w-50 mrg-btm" id="generate">Generate New Presentation</a>
    </div>
</div>


